In [4]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
for i in fruits:
    print(i, end="*")

apple*banana*cherry*date*elderberry*

In [5]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [6]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [7]:
for i in range(2,10,2):
    print(i)

2
4
6
8

- print your name 10 times
- print 0 to 20 even numbers without using condition statement
- print 0 to 20 odd numberss with using condition statement

In [9]:
for i in range(10):
    print('Areeba')

Areeba
Areeba
Areeba
Areeba
Areeba
Areeba
Areeba
Areeba
Areeba
Areeba

In [10]:
for i in range(0,21,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [11]:
for i in range(0,21):
    if i % 2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [12]:
i = 0
while i <= 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

BREAK & CONTINUE

In [1]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry','onion','banana','kiwi','apple']
for i in fruits:
    if i == 'onion':
        break
    print(i)

apple
banana
cherry
date
elderberry

In [2]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry','onion','banana','kiwi','apple']
for i in fruits:
    if i == 'onion':
        continue
    print(i)

apple
banana
cherry
date
elderberry
banana
kiwi
apple