In [9]:
a = 5
b = 10
print(a+b)

15

In [10]:
a+=5
print(a)

10

In [11]:
c =12

In [12]:
a<b and a>c

False

In [15]:
a>b or a<c

True

In [16]:
not(a<b and a>c)

True

In [17]:
fruits = ['apple', 'banana', 'cherry','orange']
'mango' in fruits

False

In [18]:
name = "John Doe"
print(name)

John Doe

In [20]:
# This is a multi-line comment
poem = '''johny johny yes papa
eating sugar no papa
telling lies no papa
open your mouth ha ha ha'''
print(poem)

johny johny yes papa
eating sugar no papa
telling lies no papa
open your mouth ha ha ha

In [1]:
fruits = ['apple', 'banana', 'cherry','apple','orange','banana']
print(fruits)

['apple', 'banana', 'cherry', 'apple', 'orange', 'banana']

In [ ]:
fruits = ('apple', 'banana', 'cherry','apple','orange','banana')
print(fruits)

In [2]:
fruits = {'apple', 'banana', 'cherry','apple','orange','banana'}
print(fruits)

{'cherry', 'orange', 'apple', 'banana'}

In [3]:
student = {
    'name' : 'John Doe',
    'age' : 20,
    'class' : '10th',
    'marks' : 85
}
print(student)

{'name': 'John Doe', 'age': 20, 'class': '10th', 'marks': 85}

In [4]:
type(student)

dict

In [ ]:
#Type Casting
b = 5
c = str(b)
print(c)
type(c)

5

str

In [10]:
a = int(input("Enter a number: "))
b = int(input("Enter another number: "))
print(a+b)

5