- how to create dictionary
- how to access pairs in dictionary
- how to run a loop in dictionary
- how to make a nested dictionary
- indexing in dictionary

In [1]:
student = {
    "name" : input("Enter the name"),
    "age" : 20,
    "course" : "BCA",
    "marks" : 87
}
print(student)

{'name': 'alice', 'age': 20, 'course': 'BCA', 'marks': 87}

In [2]:
info = dict(name = input("Enter the name"), age = 20, course = "mba", marks = 89)
print(info)

{'name': 'alice', 'age': 20, 'course': 'mba', 'marks': 89}

In [ ]:
temp = {
    'lucknow':[30,35,48],
    'delhi':[35,45,50],
    'chennai':[28,29,30]
}
print(temp)

{'lucknow': [30, 35, 48], 'delhi': [35, 45, 50], 'chennai': [28, 29, 30]}

In [4]:
#1st method to acces value through key
info['name']
info['age']

20

In [5]:
#2nd method 
info.get("name")
info.get("course")

'mba'

In [6]:
#adding new key and value pair in the dictionary
info['city'] = "lucknow"

In [7]:
print(info)

{'name': 'alice', 'age': 20, 'course': 'mba', 'marks': 89, 'city': 'lucknow'}

In [ ]:
for i,j in student.items():
    print(f'{i} : {j}')

name : alice
age : 20
course : BCA
marks : 87

In [18]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'course', 'marks'])
dict_values(['alice', 20, 'BCA', 87])
dict_items([('name', 'alice'), ('age', 20), ('course', 'BCA'), ('marks', 87)])

In [20]:
company = {
    'emp001' : {
        'name' : 'Alice',
        'dept' : 'Finance',
        'salary' : 50000
    },
    'emp002' : {
        'name' : 'Bob',
        'dept' : 'Marketing',
        'salary' : 45000
    },
    'emp003' : {
        'name' : 'Smith',
        'dept' : 'IT',
        'salary' : 70000
    }
}
print(company)

{'emp001': {'name': 'Alice', 'dept': 'Finance', 'salary': 50000}, 'emp002': {'name': 'Bob', 'dept': 'Marketing', 'salary': 45000}, 'emp003': {'name': 'Smith', 'dept': 'IT', 'salary': 70000}}

In [21]:
from pprint import pprint

In [22]:
pprint(company)

{'emp001': {'dept': 'Finance', 'name': 'Alice', 'salary': 50000},
 'emp002': {'dept': 'Marketing', 'name': 'Bob', 'salary': 45000},
 'emp003': {'dept': 'IT', 'name': 'Smith', 'salary': 70000}}

In [24]:
company['emp002']['dept']

'Marketing'

In [25]:
print(sum(temp['lucknow'])/len(temp['lucknow']))

37.666666666666664